.card-pack {
    margin: 0;
	position: relative;
    padding-bottom: 2.5em;
    h5 {
        font-size: 1em;
        margin: 1rem 0 0.5rem;
    }
    p{
        font-weight: 400;
        font-size: 0.85em;
    }
    
}