.homepage{
	background-color: $white!important;
}

.homepage .card-pack {
    margin: 0;
	position: relative;
    padding-bottom: 2.5em;
    h5 {
        font-size: 1em;
        margin: 1rem 0 0.5rem;
    }
    p{
        font-weight: 400;
        font-size: 0.85em;
        color: $gray-light;
    }
    
}

// /* Base Transitions -------------------------- */

// a,
// path {
// 	transition: all $transition linear;
// }

// /* -------------------------------------------------------------------------- */

// /*	2. Element Base
// /* ---------------------------------------------*---------------------------- */


// main {
// 	display: block;
// }

// .entry-content hr,
// hr.styled-separator {
// 	background: linear-gradient(to left, currentColor calc(50% - 16px), transparent calc(50% - 16px), transparent calc(50% + 16px), currentColor calc(50% + 16px));
// 	background-color: transparent !important;
// 	border: none;
// 	height: 0.1rem;
// 	overflow: visible;
// 	position: relative;
// }

// .entry-content hr:not(.has-background),
// hr.styled-separator {
// 	color: $grey;
// }

// .entry-content hr::before,
// .entry-content hr::after,
// hr.styled-separator::before,
// hr.styled-separator::after {
// 	background: currentColor;
// 	content: "";
// 	display: block;
// 	height: 1.6rem;
// 	position: absolute;
// 	top: calc(50% - 0.8rem);
// 	transform: rotate(22.5deg);
// 	width: 0.1rem;
// }

// .entry-content hr::before,
// hr.styled-separator::before {
// 	left: calc(50% - 0.5rem);
// }

// .entry-content hr::after,
// hr.styled-separator::after {
// 	right: calc(50% - 0.5rem);
// }

// a {
// 	color: $primary;
// 	text-decoration: underline;
// }

// a:hover,
// a:focus {
// 	text-decoration: none;
// }

// /* -------------------------------------------------------------------------- */

// /*	14. Error 404
// /* -------------------------------------------------------------------------- */


// .error404 #site-content {
// 	padding-top: 4rem;
// }

// .error404-content {
// 	text-align: center;
// }

// .error404 #site-content .search-form {
// 	justify-content: center;
// 	margin-top: 3rem;
// }

